/* Media Queries for Mobile Devices */
@media (min-width: 600px) and (max-width: 1200px) {
  /* Adjustments for header */
  header {
    flex-direction: column;
    height: auto;
    margin: 10px;
  }
  #title {
    margin: 10px;
  }
  nav {
    border-bottom: 0px;
  }
  /* Adjust main content */
  section {
    flex-direction: column;
    text-align: center;
    margin: 0px;
  }
  section img {
    width: 300px;
    height: 300px;
    margin: 0px;
  }
  section .appImage {
    display: none;
  }

  /* Adjust aside section */
  aside {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }
  aside h3 {
    text-align: left;
    margin: 10px;
    padding: 10px;
  }
  aside ul {
    text-align: left;
    top: auto;
  }

  /* Adjust footer */
  footer {
    position: static; /* Quitar la posición fija para que el footer fluya con el contenido */
    padding: 5px; /* Reducir el padding */
    font-size: 0.8em; /* Ajustar el tamaño de la fuente */
  }
}
